@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #F5F5F5;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {

}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    width: 100%;
    max-width: 1480px;
    padding: 0 25px;
    margin: 0 auto;
}

.row_2 {
    max-width: 1530px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 --*/

.ucd_h1_wrapp {
    text-align: center;
}

.ucd_h1_wrapp h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 78px;
    line-height: 154%;
    color: #304553;
}

.up {
    text-transform: uppercase;
}

.ucd_h1_wrapp h1 .green {
    color: #C0E44E;
}

.ucd_article {
    display: flex;
    flex-wrap: wrap;
    padding: 47px 0 20px 0;
}

.ucd_article > div:nth-child(1) {
    width: calc(100% - 828px);
}

.ucd_article > div:nth-child(2) {
    width: 828px;
    padding-top: 9px;
}

.ucd_article > div:nth-child(2) img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.ucd_items {
    padding-bottom: 33px;
}

.ucd_items li {
    padding: 10px 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #304553;
}

.ucd_items li span {
    font-weight: 600;
    color: #C0E44E;
    text-transform: uppercase;
}

.ucd_article_descript {

}

.ucd_article_descript h2 {
    padding: 10px 0;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    color: #304553;
}

.ucd_article_descript h2 span {
    color: #C0E44E;
}

.ucd_article_descript p + h2 {
    padding-top: 79px;
}

.ucd_article_descript p {
    padding: 10px 0;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #304553;
}

.link_wrapp {
    padding: 33px 0 20px 0;
    text-align: center;
}

.ucd_blue_link {
    display: inline-flex;
    align-items: center;
    min-height: 68px;
    position: relative;
    padding-right: 110px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #0C9AA8;
}

.ucd_blue_link:hover {
    color: #C0E44E;
}

.ucd_blue_link > svg:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(0);
}

.ucd_blue_link:hover > svg:nth-child(1) {
    transform: rotate(-111deg);
}

.ucd_blue_link > svg:nth-child(2) {
    position: absolute;
    top: calc(50% - 8px);
    right: 27px;
}

.ucd_blue_link > svg path {
    fill: #0C9AA8;
}

.ucd_blue_link:hover > svg path {
    fill: #C0E44E;
}

.ucd_article_2 > div:nth-child(1) {
    width: calc(100% - 895px);
}

.ucd_article_2 > div:nth-child(2) {
    width: 895px;
    padding-top: 9px;
    padding-left: 65px;
    display: flex;
    justify-content: flex-end;
}

.ucd_article_2 > div:nth-child(2) img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.ucd_article_descript_2 {
    padding-top: 65px;
}

.ucd_article_descript_2 h3 {
    padding: 24px 0 28px 0;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    color: #304553;
}

.ucd_text_box {
    padding: 10px 0;
}

.ucd_text_box p {
    padding: 0;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #304553;
}

.ucd_text_box.M {

}

.ucd_text_box.L p {
    font-family: 'Lato';
}

.ucd_colors_thumbs {
    padding: 10px 0;
    max-width: 463px;
}

.ucd_color_thumb {
    min-height: 155px;
    background: #0A5088;
    position: relative;
    border-radius: 10px;
    margin: 16px 0;
    padding: 33px 165px 15px 85px;
}

.ucd_color_thumb.white_blue {
    background: #fff;
}

.ucd_color_thumb.white_blue_2 {
    background: #fff;
}

.ucd_color_thumb.white_green {
    background: #fff;
}

.ucd_color_val {
    width: 100%;
    border-bottom: 2px solid #FFF;
    position: relative;
}

.white_blue .ucd_color_val {
    border-bottom: 2px solid #0A5088;
}

.white_blue_2 .ucd_color_val {
    border-bottom: 2px solid #0A6BB6;
}

.white_green .ucd_color_val {
    border-bottom: 2px solid #85B850;
}

.ucd_color_val p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
}

.ucd_color_thumb.white_blue .ucd_color_val p {
    color: #0A5088;
}

.ucd_color_thumb.white_blue_2 .ucd_color_val p {
    color: #0A6BB6;
}

.ucd_color_thumb.white_green .ucd_color_val p {
    color: #85B850;
}

.ucd_color_thumb img {
    position: absolute;
    top: calc(50% - 57px);
    right: 82px;
}

.ucd_color_text {
    width: 100%;
}

.ucd_color_text p {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
}

.ucd_color_thumb.white_blue .ucd_color_text p {
    color: #0A5088;
}

.ucd_color_thumb.white_blue_2 .ucd_color_text p {
    color: #0A6BB6;
}

.ucd_color_thumb.white_green .ucd_color_text p {
    color: #85B850;
}

/*-- /Section 1 --*/

/*-- Section 2 --*/

.sect_2 {
    padding: 62px 0 10px 0;
}

.ucd_h2_wrapp {
    text-align: center;
}

.ucd_h2_wrapp h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 80px;
    line-height: 154%;
    text-transform: uppercase;
    color: #304553;
}

.ucd_h2_wrapp h2 span {
    color: #C0E44E;
}

.ucd_slider_1 {
    margin: 14px 0 -34px 0;
}

.ucd_slide {
    width: 320px;
    height: 690px;
    position: relative;
}

.ucd_slide:before {
    display: block;
    content: "";
    width: 276.99px;
    height: 575px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 75.3136px 60.2509px 45.1882px rgba(0, 0, 0, 0.15);
    border-radius: 33.138px;
    position: absolute;
    top: 0;
    left: 0;
}

.ucd_img_box {
    width: 281px;
    height: 575px;
    background-image: url(img/img_04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ucd_img {
    width: 251.06px;
    height: 541.13px;
    background: #FFF;
    border-radius: 26px;
    position: relative;
    overflow: hidden;
    top: 22px;
    left: 7px;
}

.ucd_img img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- /Section 2 --*/

/*-- Section 3 --*/

.sect_3 {
    padding: 10px 0 20px 0;
}

.ucd_slider_2 {
    margin: 24px 0;
}

.ucd_slide_tab {
    width: 554px;
    height: 824px;
    position: relative;
}

.ucd_slide_tab:before {
    display: block;
    content: "";
    width: 499px;
    height: 723px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 49.3136px 51.2509px 45.1882px rgba(0, 0, 0, 0.15);
    border-radius: 33.138px;
    position: absolute;
    top: -9px;
    left: 0;
}

.ucd_img_box_tab {
    width: 524px;
    height: 745px;
    border-radius: 31px;
    background-color: #fff;
    background-image: url(img/tab_bg_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 2;
}

.ucd_img_tab {
    height: 609px;
    width: 455px;
    overflow: hidden;
    position: relative;
    top: 69px;
    left: 35px;
}

.ucd_img_tab img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- /Section 3 --*/

/*-- Section 4 --*/

.sect_4 {
    padding-top: 37px;
}

.job_img {
    position: relative;
    background: #FFF;
    margin: 30px 0;
    border: 2px solid #E0E0E0;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.job_img img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/*-- /Section 4 --*/

/*-- Section 5 --*/

.sect_5 {
    padding-top: 61px;
}

.ucd_jobs_thumbs_titles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
    padding: 30px 0 25px 0;
}

.ucd_jobs_thumbs_titles > div {
    width: 33.33%;
    padding: 10px 40px;
}

.ucd_jobs_thumbs_titles > div:nth-child(1) {
    width: 41%;
}

.ucd_jobs_thumbs_titles > div:nth-child(2) {
    width: 40%;
}

.ucd_jobs_thumbs_titles > div:nth-child(3) {
    width: 19%;
}

.ucd_jobs_thumbs_titles h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #304553;
}

.ucd_jobs_thumbs_header h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #304553;
}

.ucd_jobs_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
    padding: 22px 0 52px 0;
}

.ucd_jobs_thumbs + .ucd_jobs_thumbs {
    padding-top: 0;
    margin-top: -35px;
}

.ucd_jobs_thumbs > div {
    width: 33.33%;
    padding: 10px 40px;
}

.ucd_jobs_thumbs > div:nth-child(1) {
    width: 41%;
}

.ucd_jobs_thumbs > div:nth-child(2) {
    width: 30%;
}

.ucd_jobs_thumbs > div:nth-child(3) {
    width: 19%;
}

.ucd_img_box_2 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.ucd_link_wrapp_2 {
    text-align: center;
}

.ucd_jobs_thumbs_box_2 .ucd_jobs_thumbs:last-child {
    padding-bottom: 46px;
}

.ucd_jobs_thumbs_box_3 .ucd_jobs_thumbs {
    padding-top: 41px;
}

.ucd_jobs_thumbs_box_4 + .ucd_jobs_thumbs_header {
    padding-top: 30px;
}

.ucd_jobs_thumbs_box_4 .ucd_jobs_thumbs_header + .ucd_jobs_thumbs {
    padding-top: 30px;
}

/*-- /Section 5 --*/

/*-- Section 6 --*/

.sect_6 {
    padding-bottom: 115px;
}

.ucd_article_3 {
    display: flex;
    flex-wrap: wrap;
    padding: 89px 0 44px 0;
}

.ucd_article_3 > div:nth-child(1) {
    width: calc(100% - 698px);
    padding: 10px 10px 10px 0;
}

.ucd_article_3 > div:nth-child(2) {
    width: 698px;
    padding: 27px 0 10px 10px;
}

.ucd_h2_wrapp.left {
    text-align: left;
}

.ucd_h2_wrapp.left h2 {
    line-height: 140%;
}

.ucd_article_3_descript {
    max-width: 600px;
}

.ucd_article_3_descript p {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #304553;
}

/*-- /Section 6 --*/

/*-- Shapes --*/

section {
    position: relative;
    z-index: 2;
}

section .row,
section .row_2 {
    position: relative;
    z-index: 3;
}

.sect_1 {
    position: relative;
}

.shape_01 {
    position: absolute;
    top: 0;
    left: 0;
}

.shape_02 {
    position: absolute;
    bottom: -294px;
    right: 0;
}

.shape_03 {
    position: absolute;
    bottom: -256px;
    left: 0;
}

.transparent_box_1 {
    width: 253px;
    height: 135px;
    background: rgba(191, 191, 191, 0.1);
    backdrop-filter: blur(19.5px);
    border-radius: 3px;
    transform: rotate(180deg);
    position: absolute;
    bottom: 39px;
    left: 0;
    z-index: 2;
}

.row_3 {
    max-width: 100%;
    padding: 0;
}

.req_01 {
    position: absolute;
    bottom: -40px;
    left: 160px;
}

.req_02 {
    position: absolute;
    top: calc(50% + 20px);
    right: -70px;
}

.shape_04 {
    position: absolute;
    bottom: -384px;
    left: 0;
}

.shape_05 {
    position: absolute;
    bottom: -374px;
    right: 0;
}

.req_03 {
    position: absolute;
    top: 243px;
    right: 20px;
}

.transparent_box_2 {
    width: 135px;
    height: 135px;
    background: rgba(191, 191, 191, 0.1);
    backdrop-filter: blur(19.5px);
    border-radius: 3px;
    position: absolute;
    top: 327px;
    right: -20px;
}

/*-- /Shapes --*/